body {
  background: #ebebeb;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  color: #222;
  font-size: 12px;
  /*width: 100%;
  height: auto;*/
}

* {
  margin: 0;
  padding: 0;
}

.container-div {
  width: 100%;
  height: 100%;
}

.header-div {
  width: 100%;
  height: 70px;
  background: #008ead;
  margin-bottom: 10px;
}

.header-container {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  /*background: #de1;*/
}


/*.head-lf {
  float: left;
  width: 40%;
  height: 100%;
}

.head-rt {
  float: right;
  width: 60%;
  height: 100%;
  position: relative;
}

.head-rt ul {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  width: auto;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.head-rt ul li {
  float: left;
}

.head-rt ul li a {
  display: block;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 28px;
  color: #fff;
  text-decoration: none;
}

.head-rt ul li:hover {
  border-bottom: 2px solid #00ABFC;
}

.head-rt ul li a.active {
  border-bottom: 2px solid #00ABFC;
}*/

.header-container ul {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  width: auto;
  height: 50px;
  line-height: 50px;
  padding: 10px 90px;
  /*  position: absolute;
  left: 0;
  bottom: 5px;*/
}

.header-container ul li {
  float: left;
}

.header-container ul li a {
  display: block;
  width: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 45px;
  color: #fff;
  text-decoration: none;
}

.header-container ul li:hover {
  border-bottom: 2px solid #00ABFC;
}

.header-container ul li a.active {
  border-bottom: 2px solid #00ABFC;
}

.crumb_wrap {
  width: 100%;
  height: auto;
}

.crumb {
  width: 980px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 10px;
}

.crumb_div {
  font-size: 14px;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #ddd;
}

.main_wrap {
  width: 100%;
}

.main {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.album_box,
.photo_box {
  width: 813px;
  height: auto;
  margin: 0 auto;
}

.new_album {
  border-bottom: 1px solid #fff;
}

.new_photo {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 10px;
  padding-top: 10px;
}

.photo_box {
  margin-bottom: 10px;
  padding-top: 10px;
}

.new_album h2,
.new_photo h2 {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0 10px 8px;
}

.new_album h2 a {
  font-size: 12px;
  font-weight: normal;
  padding-top: 5px;
  padding-right: 20px;
  color: #666;
  float: right;
  text-decoration: none;
}

.new_album h2 a:hover {
  text-decoration: underline;
}

.new_album_box,
.new_photo_box {
  padding: 20px 0 10px;
}

.box-album {
  display: inline-block;
  vertical-align: baseline;
  width: 184px;
  padding: 8px;
  margin-bottom: 20px;
}

.box-album .item {
  width: 182px;
  height: 158px;
  border-radius: 5px;
  border: 1px solid grey;
}


/*.box-album .item a img {
  width: 170px;
  height: 145px;
  padding: 6px;
}*/

.box-album .item img {
  width: 170px;
  height: 145px;
  padding: 6px;
}

.item-span {
  width: 182px;
  height: 30px;
  line-height: 30px;
  font-family: "微软雅黑";
  font-size: 14px;
  text-align: center;
  color: #000;
}

.item-span:hover {
  color: #000;
  text-decoration: underline;
}


/*.box-album .item-span a {
  color: #000;
  text-decoration: none;
}*/


/*.box-album .item-span a:hover {
  text-decoration: underline;
}*/

.box-album p {
  color: grey;
  text-align: center;
}


/**/

body {
  background: #ebebeb;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  color: #222;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

.container-div {
  width: 100%;
  height: 100%;
}

.header-div {
  width: 100%;
  height: 70px;
  background: #008ead;
  margin-bottom: 10px;
}

.header-container {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  /*background: #de1;*/
}

.head-lf {
  float: left;
  width: 40%;
  height: 100%;
}

.head-rt {
  float: right;
  width: 60%;
  height: 100%;
  /*background: #73d;*/
  position: relative;
}

.head-rt ul {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  width: auto;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.head-rt ul li {
  float: left;
}

.head-rt ul li a {
  display: block;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 28px;
  color: #fff;
  text-decoration: none;
}

.head-rt ul li a.active {
  border-bottom: 2px solid #00ABFC;
  /*background: dodgerblue;*/
}
.active-li{
  border-bottom: 2px solid #00ABFC;
}
.crumb_wrap {
  width: 100%;
  height: auto;
}

.crumb {
  width: 980px;
  height: 50px;
  margin: 0 auto;
  /*background: yellow;*/
  margin-bottom: 10px;
  padding-top: 10px;
}

.crumb_div {
  font-size: 14px;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #ddd;
}

.main_wrap {
  width: 100%;
}

.main {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.album_box,
.photo_box {
  width: 813px;
  height: auto;
  margin: 0 auto;
}

.new_album {
  border-bottom: 1px solid #fff;
}

.new_photo {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 10px;
  padding-top: 10px;
}

.photo_box {
  margin-bottom: 10px;
  padding-top: 10px;
}

.new_album h2,
.new_photo h2 {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0 10px 8px;
}

.new_album h2 a {
  font-size: 12px;
  font-weight: normal;
  padding-top: 5px;
  padding-right: 20px;
  color: #666;
  float: right;
  text-decoration: none;
}

.new_album h2 a:hover {
  text-decoration: underline;
}

.new_album_box,
.new_photo_box {
  padding: 20px 0 10px;
}

.box-album {
  display: inline-block;
  vertical-align: baseline;
  width: 184px;
  padding: 8px;
  margin-bottom: 20px;
}

.box-album .item {
  width: 182px;
  height: 158px;
  border-radius: 5px;
  border: 1px solid grey;
}

.box-album .item a img {
  width: 170px;
  height: 145px;
  padding: 6px;
}

.item-span {
  width: 182px;
  height: 30px;
  line-height: 30px;
  font-family: "微软雅黑";
  font-size: 14px;
  text-align: center;
}

.box-album .item-span a {
  color: #000;
  text-decoration: none;
}

.box-album .item-span a:hover {
  text-decoration: underline;
}

.box-album p {
  color: grey;
  text-align: center;
}

.popcontainer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dispop {
  display: none;
}

.popcontainer .popimg {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 500px;
  height: 400px;
  background: #EBEBEB;
  border: 10px solid #fff;
}

.imgcontainer {
  width: 500px;
  height: 300px;
  background: #666
}

.imgcontainer img {
  width: 500px;
  height: 300px;
}

.imgdetail {
  width: 100%;
  height: 100px;
  border-top: 2px solid #00ABFC;
}

.imgdetail p {
  line-height: 50px;
  width: 80%;
  height: 25px;
  margin: 0 auto;
  font-size: 16px;
}

.imgdetail p span{
  font-size: 14px;
  
}
/*弹出层样式

#mask {
  background: #000;
  opacity: 0.75;
  filter: alpha(opacity=75);
  height: 1000px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

#pop {
  position: fixed;
  left: 22%;
  top: 30%;
  z-index: 1001;
}

.popCon {
  width: 670px;
  height: 380px;
  background: #fff;
  border: 3px solid #0080FF;
}

#close {
  width: 29px;
  height: 29px;
  border: 1px solid #000;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

#close span {
  width: 29px;
  height: 29px;
  display: inline-block;
  font-size: 22px;
  padding: 0 5px;
}*/
